{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create New Listings</h2>

    <form action="{% url 'create' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" class="form-control" id="title" placeholder="Enter Title">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control rounded-0" name="description" id="descriptionHelp" rows="3" placeholder="Enter Description"></textarea>
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input type="number" min="0" name="price" class="form-control" id="price" placeholder="Enter Price">
        </div>
        <div class="form-group">
            <label for="image">Image URL</label>
            <input type="text" name="image" class="form-control" id="image" placeholder="Enter Image URL">
        </div>
        <div class="form-group">
            <label for="category">Choose a category:</label>
            <select name="category" id="category">
              {% for cat in categories %}
                <option value="{{ cat }}">{{ cat }}</option>
              {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-success">Create</button>
    </form>
{% endblock %}
