{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <form action="{% url 'displayCategory' %}" method="POST" class="my-3">
        {% csrf_token %}
        <label for="category">Choose a category:</label>
            <select name="category" id="category">
              {% for cat in categories %}
                <option value="{{ cat }}">{{ cat }}</option>
              {% endfor %}
            </select>
            <button type="submit" class="btn btn-success btn-sm">Select</button>
    </form>

    <div class="row mx-3"

    {% for list in listings %}
        <br>

        <div class="card mx-3" style="width: 18rem;">
          <img class="card-img-top" src="{{ list.imageUrl }}" alt="{{ list.title }}">
          <div class="card-body">
            <h5 class="card-title">{{ list.title }}</h5>
            <p id="truncateLongTexts" class="card-text">{{ list.description }}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">${{ list.price.bid }}</li>
            <li class="list-group-item">{{ list.category }}</li>
          <a href="{% url 'listing' id=list.id %}" class="btn btn-primary">Details</a>
        </ul>
        </div>

    {% endfor %}
    </div>
{% endblock %}
